p {
  font-size: 12px;
}

h4 {
  font-size: 18px;
}

.infoBoxSec {
  display: flex;
  justify-content: start;
}

.infoBox {
  width: 150px;
  height: 200px;
  background-color: rgb(205, 205, 205);
  padding: 5px;
  margin: 10px;
}

.visitorsDiv {
  display: inline-flex;
  justify-content: start;
  flex-direction: column;
  background-color: rgb(205, 205, 205);
  width: 513px;
  height: 300px;
  padding: 5px;
  margin-left: 10px;
}

.visitorsDiv > p, .visitorsDiv > h4 {
  margin: 10px
}

.greyBox {
  position: relative;
  background-color: rgb(174, 174, 174);
  width: 400px;
  height: 200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;;
}

.sidebarDiv {
  float: left;
  margin-left: 150px;
  margin-top: 10px;
  height: 520px;
  width: 150px;
  background-color: rgb(205, 205, 205);
  padding: 5px;
}